body{
	background-color: #FFCC66;
}
h1 {
	color: #00ff80; 
	background-color: #FC9804;
	font-family: arial, verdana, sans-serif;
	font-size: 60px;
}

.teste {
	color: #00ff80; 
	background-color: #FC9804;
	font-family: arial, verdana, sans-serif;
	font-size: 60px;
}