body{
	font-family: sans-serif;
	background: #f2f2f2;
}
#container{
	width: 720px;
	margin:0 auto;
	background: #fff;
}
#marca{
	height: 100px;
	background:#9e9e9e;
	text-align: center;
	line-height: 100px;
}
#conteudo{
	width: 520px;
	float: right;
}
#conteudo-principal{
width: 320px;
float: left;

}
#conteudo-secundario{
	width: 180px;
	float: right;
}
#navegação{
	width:180px;
	float:left;
	padding:20px 0;
	background: #d1d1d1;
}
#rodape{
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}
#navegação ul{
	list-style-type: none;
}
#navegação li a{
	text-decoration: none;
}