<!DOCTYPE html>
<html>
<head>
	<title>layouts</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body>
	<div id="container">
		<div id="marca">marca</div>
		<div id="conteudo">
			<div id="conteudo-principal">
				<h2>orem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget commodo nisl.</h2>
				<img class="imagem-noticia" src="imagens/natureza.jpg">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget commodo nisl. Cras tristique fermentum erat non euismod. Nullam consectetur felis id nisi fringilla, non laoreet velit pretium. Aliquam vel dapibus purus, placerat cursus dolor. In et porta mi, ut imperdiet dui. Suspendisse quis ex lacinia, sagittis lacus vel, interdum felis. Proin imperdiet molestie convallis. Donec consequat et velit in elementum. Aenean tempus viverra ante sit amet rhoncus. Nulla facilisi. Vestibulum venenatis erat leo. Praesent aliquam elementum erat, ac suscipit eros malesuada in.
				</p>

			</div>
			<div id="conteudo-secundario">
				<h2>conteudo secundario</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget commodo nisl. Cras tristique fermentum erat non euismod. Nullam consectetur felis id nisi fringilla, non laoreet velit pretium. Aliquam vel dapibus purus, placerat cursus dolor. In et porta mi, ut imperdiet dui. Suspendisse quis ex lacinia, sagittis lacus vel, interdum felis. Proin imperdiet molestie convallis. Donec consequat et velit in elementum. Aenean tempus viverra ante sit amet rhoncus. Nulla facilisi. Vestibulum venenatis erat leo. Praesent aliquam elementum erat, ac suscipit eros malesuada in.
				</p>

			</div>

		</div>
		<div id="navegação">
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">Sobre</a></li>	
				<li><a href="">Noticias</a></li>
				<li><a href="">Produtos</a></li>	
				<li><a href="">Serviços</a></li>
				<li><a href="">Clientes</a></li>
				<li><a href="">Contatos</a></li>



			</ul>


		</div>
		<div id="rodape">rodape</div>

	</div>

</body>
</html>